
{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="banner">
            <h1 class="banner-text">Phone Numbers 'R Us</h1>
            <h5 class="banner-text-line2">It really just doxxes you at this point</h5>
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-12">
        {% for u in user %}
        <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">{{ u.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ u.username }}</h6>
          <p class="card-text">{{ u.email }}</p>
          <p class="card-text">{{ u.phone_number }}</p>
        </div>
        </div>
    {% endfor %}
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-12 my-3">
        <h3>Please login or create an account to see phone numbers</h3>
    </div>
</div>

{% endif %}

{% endblock content %}